@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #FF7E5F; /* Couleur de base du dégradé */
  background-image: linear-gradient(19deg, #FF7E5F 0%, #feb47b 50%, #6a3093 100%); /* Dégradé coucher de soleil */
}

body.greenScreen {
  background-color: #16c516;
  background-image: none;
}
